@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  --color-brand: #0891b2;
  --color-brand-light: #f5f9ff;
  --color-hover: #f3f4f6;
  --font-sans: "Nunito";
}

@layer base {
  *:focus-visible {
    outline-offset: 2px;
  }

  body {
    color: var(--color-gray-700);
  }
}

@layer components {
  .max-w-header,
  .max-w-footer {
    @apply p-4 max-w-screen-xl mx-auto;
  }

  .max-w-section {
    @apply px-4 pt-16 mx-auto max-w-md md:max-w-3xl xl:max-w-7xl;
  }

  .primary-button {
    @apply bg-brand text-white text-sm rounded-lg inline-flex items-center justify-center px-5 py-3 font-bold text-center cursor-pointer hover:text-brand hover:bg-hover disabled:cursor-auto disabled:opacity-50 disabled:hover:bg-brand disabled:hover:text-white;
  }

  .heading1,
  .heading2,
  .heading3 {
    @apply font-extrabold leading-none tracking-tight text-slate-700;
  }

  .heading1 {
    @apply text-4xl md:text-5xl xl:text-6xl;
  }

  .heading2 {
    @apply text-3xl md:text-4xl xl:text-5xl;
  }

  .heading3 {
    @apply text-2xl;
  }

  .paragraph1 {
    @apply text-lg xl:text-xl;
  }

  .form-label {
    @apply block text-lg mb-2 font-semibold;
  }

  .form-input {
    @apply bg-white border border-hover rounded-lg block w-full p-2.5 placeholder:text-gray-400;
  }
}
