@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  --color-brand: #0891b2;
  --color-brand-light: #f5f9ff;
  --color-hover: #f3f4f6;
  --font-sans: "Nunito";
}

@layer base {
  body {
    color: var(--color-gray-700);
  }
}

@layer components {
  .max-w-header,
  .max-w-footer {
    @apply p-4 max-w-screen-xl mx-auto;
  }

  .max-w-section {
    @apply px-4 pt-16 mx-auto max-w-md md:max-w-3xl xl:max-w-7xl;
  }

  .primary-button {
    @apply text-white bg-brand text-sm rounded-sm inline-flex items-center justify-center px-5 py-3 font-bold text-center hover:text-brand hover:bg-hover;
  }

  .heading1,
  .heading2,
  .heading3 {
    @apply font-extrabold leading-none tracking-tight text-slate-700;
  }

  .heading1 {
    @apply text-4xl md:text-5xl xl:text-6xl;
  }

  .heading2 {
    @apply text-3xl md:text-4xl xl:text-5xl;
  }

  .heading3 {
    @apply text-2xl;
  }

  .paragraph1 {
    @apply text-lg xl:text-xl;
  }
}
